node_modules/**
changelogs/**
documentation/**
resources/**
.vscode/**
tampermonkey-module.d.ts
tampermonkey-reference.d.ts
tsconfig.json
/.eslintrc.js
/package-lock.json
/package.json
*.debug.js
*.log