node_modules/**
changelogs/**
documentation/**
backend/**
_resources/**
_context/**
.vscode/**
tampermonkey-module.d.ts
tampermonkey-reference.d.ts
*.debug.js
*.make.js
*.log
*.ps1
/DECENSURED_IMPLEMENTATION.md
/TODO.md
