node_modules/**
changelogs/**
documentation/**
resources/**
.vscode/**
tampermonkey-module.d.ts
tampermonkey-reference.d.ts
tsconfig.json
/package-lock.json
/package.json
*.debug.js
*.make.js
*.log
*.ps1
backend/**
context/**
/DECENSURED_IMPLEMENTATION.md
