.deboucled-ignored-messages {
  margin: 5px 0 5px 5px;
  padding-bottom: 0.5rem;
  padding-top: 0;
  text-align: left;
  font-size: 0.8rem !important;
}
.deboucled-input-key {
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  height: 28px;
}
.deboucled-input-search {
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  height: 28px;
}
.blinking {
  animation: blinker 1.5s linear 7s;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.deboucled-logo-forbidden {
  width: 14px;
}
.deboucled-topic-blacklist {
  text-align: center;
  display: table-cell;
}
@media (max-width: 807.98px) {
  .deboucled-logo-forbidden {
    width: 16px;
  }
  .deboucled-topic-blacklist {
    position: absolute;
    bottom: 0.4375rem;
    display: block;
    text-align: center;
    left: 0;
    right: 0;
    max-width: 100%;
    width: auto;
  }
}
.deboucled-setting-button {
  background-color: #0050a6d1 !important;
  height: 28px;
  margin: 15px 10px 15px 0;
}
.deboucled-setting-impexp-message {
  font: bold 11px/100% arial, sans-serif;
  color: rgba(180, 0, 0, 0.9);
  pointer-events: none;
  user-select: none;
  visibility: hidden;
  opacity: 1;
  transition: opacity 1s ease-out 4s;
}
.deboucled-setting-impexp-message.active {
  visibility: visible;
  opacity: 0;
}
.deboucled-add-button {
  margin-left: 5px;
  background-color: #0050a6e1 !important;
  height: 28px;
}
@media (max-width: 483px) {
  .deboucled-add-button {
    margin: 5px;
    background-color: #0050a6e1 !important;
    height: 28px;
  }
}
.deboucled-author-boucled-button {
  position: relative;
  top: 0.5rem;
  left: 0.2rem;
}
.deboucled-blacklist-jvc-button {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAF0SURBVDhPnVM5jsJAECwfwsaJP4BEisA/IAM+QegcEvgKCdGGJHyEDAd+AAGIEBCyLc6d6rW9Y5YAbUnlmanurp5DNubzuQdgpjhUdBU/Qaa4UByZ6sPiUPHTYoK5rJnRgJ3/iyENys6PxwNZluF8PsvI9TtNg0uDEpfLBb1eD5PJBP1+X9a6NhgMZK2jYnC/3xEEgcw7nY5007V2u/26g6qBbduIokjmcRzDNE3R1ut1RdPBZ3zmc3G/Xq/SlYm1Wk30V003qdgx4DgOPM+D67qyfqfpqK4UbrcbkiTB6XTC8XgUcp6m6Z/zE3Y+CrhVJoVhCN/3c/UHm80Gy+US9Xpd7qVAuQMW8nzj8ViKD4cDttstdrud7KLZbGI6nUre81le2+8lcuvdbldeYb/fw7Ks8rws4iU2Gg20Wi2sViuJEzRI1ejStbhpwzCEOhgnacbiPJ6xBf8qEXi2wuAV1BhjjhZf0GCk+KXIX/RTMFfVYPQNhK3ILLQDrO8AAAAASUVORK5CYII=)
    0 no-repeat;
}
.deboucled-blacklist-author-button {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFuSURBVDhPnVNBSwJRGJw1tczAYJUOhufOHQrq5G/w1LH7/pwuXtKb6ElBf4MQ+AO6JUGgIAhCa6ZuM293ZXeFEAfGfW/e9+bNfvu03oFzAC/kE3lGHoIl2SIdGbxy8Cz1CDRk4HJw6MlJLGXgBRNsSGVbkVkydE1qJ2SIVPA0UGGx18O956E4GJi5aHe7MS2KWIJ5KoW7jXL4eMtkgO12T7tcr4NZIkGWxeNOx4w/+31kWCjto932NSaQFsVeD37IVTptCsMeJLVoD2IGx2DP4JfUd1XXwwWLPCV146KnC7EeKOq8XMbNZIIHdv0xoMbXoxFmuZwxjmKXQO/vViq4HY81xWI6hTubwbIs5GwbF6USKz2MCgXkF4vdyTsDRbfrdXw1m/geDk3UMK7MxXy1iqtaDXPHQdqs+AbmKm/5oyI5i3rvKHSKakQZBwmWeupfZQReG7OY3CxI05pqgs1CS2OHbJDJW/ofVMs9cP4ASlyLOHdkP2sAAAAASUVORK5CYII=)
    0 no-repeat;
}
.deboucled-messages-ignored-authors {
  margin-left: 5px;
  font-size: 0.8rem;
  color: rgba(255, 0, 0, 0.9) !important;
}
.deboucled-toggle-ignored-authors {
  margin-left: 5px;
  font-size: 0.8rem;
  color: gray;
}
.deboucled-entity-list {
  margin: 0;
  margin-left: -2px;
  padding: 0;
  list-style: none;
}
.deboucled-entity-element {
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  display: inline-block;
  height: 20px;
  background-color: #00000008;
}
.deboucled-entity-count {
  color: #000000b1;
  margin-left: 3px;
}
.key:first-letter {
  text-transform: capitalize;
}
.key {
  padding: 5px 5px 20px 0px;
  margin: 0px 5px 5px 0px;
}
#deboucled-subjectList {
  margin-top: 14px;
}
.deboucled-subject-button-delete-key,
.deboucled-author-button-delete-key,
.deboucled-topicid-button-delete-key {
  color: #777;
  font: 14px/100% arial, sans-serif;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
  background: 0 0;
  border: none;
  padding-top: 1px;
  margin: 0;
  cursor: pointer;
}
body,
input {
  font: 12px/16px sans-serif;
}
input[type="text"] {
  border: 1px solid #d2d2d2;
  padding: 3px;
  margin-left: -2px;
}
input[type="search"] {
  border: 1px solid #d2d2d2;
  padding: 3px;
}

.deboucled-settings-bg-view {
  width: 100%;
  height: 100%;
  z-index: 999998;
  background: transparent;
  overflow-y: auto;
  position: fixed;
}

.deboucled-settings-view {
  width: 60%;
  margin-left: 20%;
  top: 110px;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  position: fixed;
  z-index: 999999;
  background: #eee;
  border-style: solid;
  border-color: dimgray;
  border-radius: 4px;
  border-width: thin;
  transition: opacity 0.2s ease-out 0s;
  opacity: 0;
  display: none;
}
.deboucled-settings-view.visible {
  display: block;
}
.deboucled-settings-view.active {
  opacity: 1;
}

.deboucled-bloc {
  background-color: #eee;
  border-radius: 0;
  color: #333;
  width: auto;
}
.deboucled-bloc-header {
  font-weight: 700;
  color: #fff;
  background-color: #035ebf;
  margin: 0 0 0 0;
  padding: 7px 12px;
  width: auto;
  border-radius: 0;
  border-color: #023f80;
  border-style: solid;
  border-width: thin;
}
.deboucled-version {
  float: right;
  color: gray;
  user-select: none;
}
.deboucled-stat-title {
  text-align: right;
  font: 14px/16px sans-serif;
  color: rgb(70, 70, 70);
  user-select: none;
}
.deboucled-stat-value {
  color: rgb(40, 40, 40);
  user-select: none;
}
.deboucled-option-button {
  margin-right: 5px;
  min-width: 80px;
}

/* SVG */
.deboucled-svg-forbidden-red #deboucled-forbidden-logo {
  fill: none;
  stroke: red;
  opacity: 0.6;
}
.deboucled-svg-forbidden-black #deboucled-forbidden-logo {
  fill: none;
  stroke: black;
  opacity: 0.8;
  width: 16px;
}
.deboucled-svg-spiral-gray #deboucled-spiral-logo {
  fill: #999;
}
.deboucled-svg-spiral-black #deboucled-spiral-logo {
  fill: black;
}

/* Div Table */
.deboucled-setting-content {
  margin: 15px;
}
.deboucled-option-div-table {
  display: table;
  font: bold 14px/16px sans-serif;
  border-spacing: 1rem 0.5rem;
}
.deboucled-option-div-row {
  display: table-row;
}
.deboucled-option-div-cell {
  display: table-cell;
  vertical-align: middle;
}
.deboucled-option-div-cell.deboucled-option-div-subcell {
  padding-left: 5px;
  padding-top: 5px;
  font: 14px/16px sans-serif;
}

/* Table */
.deboucled-option-table {
  font: bold 14px/16px sans-serif;
  border-spacing: 1rem 0.7rem;
  border-collapse: separate;
}
.deboucled-option-table-subcell {
  font: 14px/16px sans-serif;
}
.deboucled-option-table-entities {
  width: 100%;
}

.deboucled-bg-img {
  background-image: url("https://image.noelshack.com/fichiers/2021/38/2/1632251209-1590510677-zinzinboucle.png");
  width: 127px;
  height: 95px;
  float: right;
  box-shadow: 0px 0px 20px 6px #eee inset;
  background-size: 127px 95px;
  background-repeat: no-repeat;
  opacity: 0.8;
  margin: -9px -9px 0 0;
}
.deboucled-disabled {
  pointer-events: none;
  user-select: none;
  opacity: 0.3;
}
.deboucled-enabled {
  pointer-events: auto;
  opacity: 1;
}

/* Toggle slider */
.deboucled-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
.deboucled-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.deboucled-toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.deboucled-toggle-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .deboucled-toggle-slider.red {
  background-color: #df3a3a;
}
input:focus + .deboucled-toggle-slider.red {
  box-shadow: 0 0 1px #df3a3a;
}
input:checked + .deboucled-toggle-slider {
  background-color: #2196f3;
}
input:focus + .deboucled-toggle-slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .deboucled-toggle-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.deboucled-toggle-slider.round {
  border-radius: 24px;
}
.deboucled-toggle-slider.round:before {
  border-radius: 50%;
}

/* Range slider */
.deboucled-range-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.deboucled-range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2196f3;
  cursor: pointer;
}
.deboucled-range-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2196f3;
  cursor: pointer;
}

/* Panel Collapsible */
.deboucled-collapsible {
  cursor: pointer;
}
.deboucled-collapsible-active,
.deboucled-collapsible:hover {
  background-color: #174c91;
}
.deboucled-collapsible:after {
  content: "\002B";
  float: right;
}
.deboucled-collapsible-active:after {
  content: "\2212";
}
.deboucled-collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.deboucled-collapsible-content-collapsed {
  max-height: 0;
}
