/* JV Respawn Refined theme by Rand0max */

.header {
  position: absolute;
}
.header__bottom {
  height: 0;
}
.header__nav.header__nav--platform {
  display: none;
}
.layout {
  --layout-mt: 3.375rem;
}
.layout__adHeader {
  display: none;
}
.topic-list .topic-subject {
  font-weight: 700;
}
.topic-list li {
  font-size: 0.7rem;
  line-height: 1.1rem;
}
.card-forum-margin {
  margin-bottom: 1.1rem;
}
#didomi-host {
  display: none;
}
body.didomi-popup-open {
  overflow: scroll !important;
}
.titre-head-bloc {
  margin-bottom: 0.45rem;
  padding-bottom: 0.45rem;
}
.spreadContainer {
  margin-bottom: 0.8rem;
}
.bloc-message-forum .user-avatar-msg {
  border-radius: 0;
}
.topic-list .topic-title {
  color: var(--jv-text-color);
  opacity: 0.9;
  /* letter-spacing: 0.1px; */
}
.layout__row.layout__breadcrumb:not(.layout__row--gutter) {
  display: none;
}
.icon-topic-folder::before {
  content: "\1F5BF";
}
.layout__videoFooter {
  display: none;
}
.form-harassment {
  display: none;
}
@media (min-width: 807.99px) {
  .topic-list .topic-img {
    top: 0.1rem;
    font-size: 1rem;
  }
  .topic-list .topic-title {
    font-size: 0.72rem;
  }
}
@media (min-width: 1480px) {
  .layout {
    --grid-template-columns: 1fr 52rem 24.5rem 1fr;
    --ad-placeholder-w: 0;
  }
}
