/* JV Respawn Refined theme by Rand0max */

.header {
  position: absolute;
}
.header__bottom {
  height: 0;
}
.header__nav.header__nav--platform {
  display: none;
}
.layout {
  --layout-mt: 3.375rem;
}
.layout__adHeader {
  display: none;
}
.topic-list .topic-subject {
  font-weight: 700;
  font-size: 0.9375em;
}
.topic-list .topic-head .topic-subject {
  font-size: 0.69rem;
  font-weight: bold;
}
.topic-list li {
  font-size: 0.7rem;
  line-height: 1.1rem;
}
.card-forum-margin {
  margin-bottom: 1.1rem;
}
#didomi-host {
  display: none;
}
body.didomi-popup-open {
  overflow: scroll !important;
  position: static !important;
}
.titre-head-bloc {
  margin-bottom: 0.45rem;
  padding-bottom: 0.45rem;
}
.spreadContainer {
  margin-bottom: 0.8rem;
}
.topic-list .topic-title {
  color: var(--jv-text-color);
  opacity: 0.9;
  letter-spacing: 0.1px;
}
.layout__row.layout__breadcrumb:not(.layout__row--gutter) {
  display: none;
}
.icon-topic-folder::before {
  content: "";
}
.layout__videoFooter {
  display: none;
}
.form-harassment {
  display: none;
}
.footer--bottom.footer {
  display: none;
}

/* Fix for JVC zoomed update */
.bloc-message-forum {
  font-size: 0.875rem;
  line-height: 1.375rem;
}
.bloc-message-forum .bloc-pseudo-msg {
  font-weight: bold;
  font-size: 1.0625rem;
  line-height: 1em;
  height: auto;
}
.bloc-message-forum .bloc-date-msg {
  font-size: 0.69rem;
}
.bloc-message-forum .signature-msg {
  font-size: 0.69rem;
  line-height: 0.9375rem;
}
.bloc-message-forum .info-edition-msg {
  font-size: 0.69rem;
  line-height: 0.75rem;
}
.text-enrichi-forum blockquote.blockquote-jv {
  font-style: normal;
  font-size: inherit;
}
.topic-list .topic-head {
  line-height: 1.2rem;
  text-transform: uppercase;
  font-size: 0.69rem;
  font-weight: bold;
}
.btn-actu-new-list-forum,
.btn-topic-resolu,
.btn-repondre-msg,
.btn-forum-modo,
.btn-select-msg-modo,
.btn-sondage-forum {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.6875rem;
}
.titre-bloc {
  font-size: 1.25rem;
  line-height: 1em;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.titre-bloc-forum {
  font-size: 1.125rem;
  line-height: 1.3em;
}
.topic-list {
  border-spacing: 0;
}
#forum-main-col {
  font-size: 0.75rem;
}
.form-post-topic .form-control {
  font-size: 0.75rem;
}
#header-profil .infos-pseudo h1 {
  font-size: 2.1rem;
  font-weight: 600;
}
.text-enrichi-forum p:last-child {
  margin-bottom: 0.3rem;
}

/* Media */
@media (max-width: 807.98px) {
  .topic-list .topic-subject {
    font-size: 0.9375rem;
  }
}
@media (min-width: 807.99px) {
  .topic-list .topic-subject,
  .topic-list .topic-author,
  .topic-list .topic-count,
  .topic-list .topic-count-adm,
  .topic-list .topic-admin,
  .topic-list .topic-select,
  .topic-list .topic-date {
    padding-top: 0.22rem;
    padding-bottom: 0.22rem;
  }
  .topic-list .topic-title {
    font-size: 0.72rem;
  }
  .topic-list .topic-img {
    top: 0.1rem;
    font-size: 1rem;
  }
  .topic-head .topic-date {
    width: 5.5rem;
  }
}
@media (min-width: 1480px) {
  .layout {
    --grid-template-columns: 1fr 53rem 24.5rem 1fr;
    --ad-placeholder-w: 0;
  }
}
