/* 
---------------------------------------------------------
- Thanks to Peepo, creator of this theme.
- https://userstyles.org/styles/206703/peepojv
- https://www.jeuxvideo.com/forums/message/1144955144
---------------------------------------------------------
*/

/*Header + Fix Hauteur du Body*/

/*Partie haute du Header*/

/*Avatar Profil Agrandi*/
.jv-header-menu .account-avatar-box {
  border-radius: 0.25rem;
  height: 2.5rem;
  width: 2.5rem;
}

/*Pseudo en gras*/
.jv-header-menu .account-pseudo {
  font-weight: 700;
}

/*Couleur des onglets*/
.jv-header-menu .jv-header-bottom .jv-nav-lvl1-item > .nav-link {
  color: #bbb;
}

/*Jarte des "indicateurs" des onglets*/
.jv-header-menu .jv-nav-primary .jv-nav-toggler,
.jv-header-menu .live-indicator {
  display: none;
}

/*Fix Hauteur des onglets*/
.jv-header-menu .jv-nav-lvl1 {
  margin-top: 0.3rem;
}

/*Partie basse du Header*/

/*Jarter la barre des consoles*/
.jv-header-menu .jv-nav-platform .jv-nav-lvl1 {
  display: none;
}

/*Rendre la ligne noire transparente*/
.jv-header-menu .jv-header-bottom,
.jv-header-menu .jv-header-sticky {
  background-color: transparent;
}

/*Jarter le Sponsor Sony*/
.sponsoTab.filled {
  display: none;
}

/*Fix Transparence défilement page*/
.jv-header-bottom,
.jv-header-sticky {
  height: 0px !important;
}

/*Fix Hauteur Body*/

/*Fixer Hauteur Forums*/
#page-messages-forum,
.layout--withBackground {
  margin-top: 3rem;
}

/*Header - Couleurs */

/*Partie haute du Header*/

/*Couleur Header*/
.jv-header-menu .jv-header-top {
  background-color: #252525;
}

/*Couleur Loupe, Nom d'utilisateur, MP & Notifications*/
.jv-header-menu .jv-header-top .nav-link-search,
.jv-header-menu .account-pseudo,
.jv-header-menu .jv-account-number-mp,
.jv-header-menu .jv-account-number-notif {
  color: #aaa;
}

/*Idem mais Hover*/
.jv-header-menu .jv-header-top .nav-link-search:hover,
.jv-header-menu .nav-link-account:hover .account-pseudo,
.jv-header-menu .jv-account-number-mp:hover,
.jv-header-menu .jv-account-number-notif:hover {
  color: #fff;
}

/*Couleurs Menu déroulants*/
.jv-header-menu .jv-nav-account-user .jv-nav-dropdown-container,
.jv-header-menu .jv-nav-dropdown-container-top,
.jv-header-menu .jv-nav-account-user .jv-nav-dropdown-container-bottom,
.jv-header-menu .account:first-of-type,
.jv-header-menu .jv-nav-lvl2-item > .nav-link {
  background-color: #272727 !important;
}

/*Hover Menu déroulant si nécessaire*/
.jv-header-menu .jv-nav-lvl2-item > .nav-link:hover,
.jv-header-menu .jv-nav-primary .jv-nav-lvl1-item > .nav-link:hover {
  background-color: #303030 !important;
}

/*Bordure invisible*/
.jv-header-menu .jv-nav-lvl2-item > .nav-link {
  border-color: #303030;
}

/*Couleur de textes en vrac*/
.jv-header-menu .jv-nav-account-user .jv-nav-dropdown-container,
.jv-header-menu .jv-nav-dropdown-container-top,
.jv-header-menu .jv-nav-account-user .jv-nav-dropdown-container-bottom,
.jv-header-menu .account:first-of-type,
.jv-header-menu .jv-nav-lvl2-item > .nav-link,
.jv-header-menu .account .account-pseudo,
.jv-header-menu .jv-header-top .button,
.jv-header-menu .jv-header-top .jv-nav-dropdown-container-param:not(:hover) {
  color: #bbb;
}

/*Remove bordure onglet profil*/
.jv-header-menu .jv-nav-dropdown-container-top,
.jv-header-menu .jv-nav-dropdown-container-bottom {
  border: none;
}

/*couleurs boutons*/
.jv-header-menu .dropdown .jv-nav-dropdown-container-bottom .button,
.jv-header-menu .dropdown .button-primary {
  border: none !important;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1) !important;
  background: #303030;
  color: #ddd;
}

/*idem mais hover*/
.jv-header-menu .dropdown .jv-nav-dropdown-container-bottom .button:hover,
.jv-header-menu .dropdown .button-primary:hover {
  color: fff;
  background: #353535;
}
/*Body + Boutons en vrac - Couleurs */

/*Scrollbar*/
html {
  scrollbar-color: #353535 #1c1c1c; /* scroll thumb and track */
}

/*Couleur Background*/
.layout--withBackground,
body {
  background-color: #151515 !important;
}

/*Couleur globale Forum*/
.layout--withBackground .layout__contentMain,
.layout--withBackground .layout__contentAside,
.layout--withBackground .layout__breadcrumb,
.layout--withBackground .layout__row--gutter {
  background-color: #1c1c1c !important;
}

/*Couleur de boutons en vrac (Forum + Topic)*/
.btn-forum-modo,
.btn-select-msg-modo,
.bloc-pre-pagi-forum .group-one > span,
.btn-repondre-msg,
.btn-actu-new-list-forum,
.btn-poster-msg,
.btn-ajouter-sondage,
.bloc-liste-num-page .page-active,
.bloc-rech-forum .btn-lancer-rech,
.bloc-pagi-default .pagi-debut-actif,
.bloc-pagi-default .pagi-fin-actif,
.bloc-pagi-default .pagi-precedent-actif,
.bloc-pagi-default .pagi-suivant-actif {
  border: none !important;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25) !important;
  background: #303030;
  color: #ddd;
}

/*Idem mais Hover(Forum + Topic)*/
.btn-forum-modo:hover,
.btn-select-msg-modo:hover,
.bloc-pre-pagi-forum .group-one > span:hover,
.btn-repondre-msg:hover,
.btn-actu-new-list-forum:hover,
.btn-poster-msg:hover,
.btn-ajouter-sondage:hover,
.bloc-liste-num-page .page-active:hover,
.bloc-rech-forum .btn-lancer-rech:hover,
.bloc-pagi-default .pagi-debut-actif:hover,
.bloc-pagi-default .pagi-fin-actif:hover,
.bloc-pagi-default .pagi-precedent-actif:hover,
.bloc-pagi-default .pagi-suivant-actif:hover {
  border: none !important;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25) !important;
  background: #303030;
  color: #ddd;
}
/*Liste des forums - Couleurs */

/*Partie "Rechercher un forum*/
#form-recherche .search input,
.bloc-recherche .search input,
.forum-search .search input {
  border: none !important;
  background: #303030;
  color: #ddd;
  border-radius: 0.25rem;
}

/*Couleur titre des grandes catégories*/
.titre-bloc {
  color: #aaa;
}
/*Background Contenu des catégories*/
.forum-section {
  background: #303030;
}

/*Background Titre des catégories*/
.fs-body h3:first-child,
.fs-body h3,
.f-alaune p.nom-forum,
.f-alaune a:hover p.nom-forum,
.f-alaune a:active p.nom-forum {
  background: #303030;
  border-radius: 0.5rem;
}

/*Couleur Texte des catégories*/
.fs-body h3 a,
.fs-body a,
.f-alaune p.nom-forum,
.bg-secondary {
  color: #bbb !important;
}

/*Idem mais hover+active*/
.fs-body h3 a:hover,
.fs-body h3 a:active,
.fs-body a:hover,
.fs-body a:active,
.f-alaune a:hover p.nom-forum,
.f-alaune a:active p.nom-forum {
  color: #fff;
}

/*Background Contenu   TopForums/Jeux Attendus*/
.p-2,
.sideOrderedGames__gameContainer {
  background: #252525 !important;
  border: none !important;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-top: -0.1rem;
}

/*Remove Border Top Forums*/
.card {
  border: none;
}

.bg-secondary {
  background: #303030 !important;
}

/*CouleurTexte - Contenu des Top Forums/Jeux Attendus*/
.card-forum-link,
.fw-bold,
.sideOrderedGames__gameTitle {
  color: #aaa;
}

/*Idem mais Hover+ Active*/
.content-slice-pres1.top-forums a:hover,
.content-slice-pres1.top-forums a:active,
.sideOrderedGames__gameTitle:hover,
.sideOrderedGames__gameTitle:active {
  color: #fff;
}

/*Couleurs Carré orange - Jeux attendus*/
.sideOrderedGames__gameRank {
  background-color: #202020;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
}

/*Couleur Bouton "Tous les Jeux attendus"*/
.simpleButton {
  background-color: #252525;
  border: none;
}

/*Couleur Top/Bottom des jeux attendus*/
.heading-pres1,
.sideModule__icon,
.sideModule__header,
.sideOrderedGames .sideModule__footer {
  background-color: #303030;
  color: #bbb;
}

/*Couleur des blablas (C ki le PD qui les a foutus en bas?)*/
.f-blabla li a {
  background: #202020;
  color: #bbb;
}

/*Fil d'ariane + Pictogrammes*/

/*Fil d'ariane + Couleurs*/

/*"PeepoJV avant "Fil d'ariane" */
.fil-ariane-crumb:before {
  content: "jeuxvideo.com";
  color: #dedede;
}

/*Suppression du "jeuxvideo.com" du fil*/
.fil-ariane-crumb > span:nth-child(1) > a:nth-child(1) {
  display: none;
}

/*Couleur du Fil*/
.bloc-fil-ariane-crumb-forum .fil-ariane-crumb a {
  color: #aaa;
}

/*Pictogrammes + Couleurs*/

/*Pictogramme Cloche*/
.bloc-fil-ariane-crumb-forum .options-crumb .icon-bell-off {
  background: #494949;
  color: #1c1c1c;
}

/*Pictogrammes en gris*/
.picto-reglage,
.picto-favoris,
.picto-rss {
  filter: invert(1);
}

/*Pictogrammes blanc en :hover:*/
.picto-reglage:hover,
.picto-favoris:hover,
.picto-rss:hover {
  filter: invert(1);
}

/*Liste des Topics/Topic + Couleurs */

/*Couleur Titre Topic*/
.titre-head-bloc .titre-bloc,
.titre-bloc-forum span:first-child {
  color: #bbb;
}

/*Suppression bordure au dessus du Topic/Forum*/
.titre-head-bloc {
  border-top: 0;
  margin-top: -0.5rem;
}

/*Bordure en dessous du Topic/Forums*/
.bloc-pre-pagi-forum.bloc-outils-top {
  border-bottom: 0.1rem solid #303030;
}
.bloc-pre-pagi-forum.bloc-outils-bottom {
  border-top: 0.1rem solid #303030;
}

/*Liste des topics*/

/*Conteneur liste des topics*/
.topic-list {
  border-spacing: 0px;
  border: none !important;
  background: transparent;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25) !important;
}

/*Couleurs des topics 1*/
.topic-list li.dfp__atf ~ li:nth-of-type(2n + 1),
.topic-list li:nth-of-type(2n) {
  background: #252525;
}

/*Couleur des topics 2*/
.topic-list li.dfp__atf ~ li:nth-of-type(2n),
.topic-list li:nth-of-type(2n + 1) {
  background: #292929;
}

/*Couleur Sujet Auteur Nb Dernier message*/
.topic-list .topic-head {
  background: #292929 !important;
  color: #ddd;
}

/*Couleur auteur*/
.topic-list .topic-author {
  color: #bbb;
}

/*Couleur des liens en hover*/
.topic-list .topic-title:hover,
.topic-list .topic-title:active,
.topic-list .topic-title:focus,
.topic-list .topic-date > .lien-jv:hover,
.topic-list .topic-date > .lien-jv:active,
.topic-list .topic-date > .lien-jv:focus {
  color: #fff;
}

/*Déplacement Sujets légèrement à droite*/
.topic-subject {
  padding-left: 0.5rem !important;
}

/*Carré à coté de dernier Msg (Si Coché)*/
.topic-list .topic-select input:hover {
  filter: invert(1);
  opacity: 0.5;
}

/*Bordure en bas*/
#bloc-formulaire-forum {
  border-top: 0.1rem solid #303030;
  padding-top: 1rem;
}

/*Rechercher dans le forum*/
.bloc-rech-forum .select-search,
.bloc-rech-forum .txt-search {
  height: 1.75rem;
  padding: 0.1875rem;
  border: none !important;
  background: #303030;
  color: #fff;
  border-radius: 0.25rem;
  padding-left: 0.5rem;
}

/*Posts + Couleurs*/

/*Avatars propres + Fix positions*/

/*Avatar Forum Carré*/
.bloc-message-forum .user-avatar-msg,
img.user-avatar-msg {
  border-radius: 0.25rem;
  border: none !important;
  opacity: 1;
}

/*Repositionnement des avatars*/
.bloc-message-forum .bloc-avatar-msg {
  left: 0.6rem;
  top: 0.6em;
}

/*Ombres Avatars*/
.bloc-message-forum .bloc-avatar-msg {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25) !important;
}

/*Posts*/

/*Background Posts*/
.bloc-message-forum {
  background: #252525 !important;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25) !important;
  border: none !important;
}

/*Couleur Pseudos, Posts*/
.bloc-message-forum .bloc-pseudo-msg,
.text-enrichi-forum,
.lien-jv {
  color: #bbb;
}

/*Couleur des liens*/
a {
  color: #777;
}

/*Idem mais hover*/
.lien-jv:hover,
a:hover {
  color: #fff;
}

/*Date du post en gras*/
.bloc-date-msg {
  font-weight: 700;
}

/*Texte "Message édité le [..] en gras"*/
.bloc-message-forum .info-edition-msg {
  font-weight: bold;
}

/*Suppression bordure dans le post*/
.bloc-message-forum .bloc-header {
  border-bottom: none;
}

/*Bordure Signature plus discrète*/
.signature-msg {
  border-top: 0.1rem solid #404040 !important;
}

/*Bordure Citation plus discrète*/
.text-enrichi-forum blockquote.blockquote-jv {
  border-left: 0.15rem solid #404040 !important;
}

/*Couleur Pseudos+Date+MP blanc en hover*/
.bloc-message-forum .bloc-pseudo-msg:hover,
.picto-msg-lettre:hover,
.lien-jv:hover {
  color: #fff;
  filter: brightness(2);
}

/*Fix Couleur dégueue du dernier post au refresh du topic*/
.bloc-message-forum-anchor:target + .bloc-message-forum:not(.seen) {
  background-color: #252525 !important;
}

/*Background Sondage*/
.bloc-sondage {
  background: #252525;
}

/*Bouton Voir les résultats*/
.btn-sondage-forum {
  background: #333;
  color: #ccc;
}

/*Idem mais hover*/
.btn-sondage-forum:hover {
  color: #fff;
}

/*Background résultats sondage*/
.bloc-sondage .tab-choix .pourcent {
  background: #404040;
}

/*Background barre sondage*/
.bloc-sondage .tab-choix .back-barre {
  background: #181818;
}

/*Couleur barre sondage*/
.bloc-sondage .tab-choix .back-barre span {
  background: #ccc;
}

/*Couleurs texte enrichi (code)*/
.text-enrichi-forum .pre-jv {
  background: #1c1c1c !important;
  color: #bbb;
  border: none !important;
}

/*Jarte du Footer + Texte harcèlement*/

#jv-footer,
.layout__videoFooter,
.bloc-editor-forum > .form-harassment {
  display: none;
}
/*Rédaction Post / Topic*/

/*Titre du sujet*/
.form-post-topic .form-control {
  border: none !important;
  background: #303030;
  color: #fff;
}

/*Rédac du Topic/Post*/
.jv-editor .conteneur-editor {
  border: none !important;
  background: #252525;
}

/*Toolbar*/
.jv-editor .btn-group {
  border: none !important;
  background: #454545;
}

/*Couleur contenu des boutons*/
.jv-editor .btn-jv-editor-toolbar {
  color: #bbb;
}

/*Idem mais Hover*/
.jv-editor .btn-jv-editor-toolbar:hover {
  color: #fff;
}

/*Partie rédaction*/
.jv-editor .area-editor,
.jv-editor .text-editor {
  border: none !important;
  background: #303030;
  color: #ddd;
  border-radius: 0.25rem;
}

/*Prévisualisation*/
.jv-editor .previsu-editor {
  border: none !important;
  background: #252525;
  color: #ddd;
}

/* Prévisu bonne taille pendant edit*/
div.row:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
/*Prévisualisation bonne taille*/
.text-enrichi-forum p {
  font-size: 0.875rem;
}

/*Séparation texte/Sondage*/
.hr-separated-dashed {
  border: 0;
  margin: 0rem;
}

/*Sidebar + Couleurs*/

/*Background Contenu*/
.card-jv-forum {
  background: #252525 !important;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25) !important;
  border: none !important;
  padding: 0px;
  margin-top: 1rem;
}

/*Background Titre*/
.card-jv-forum .titre-info-fofo {
  background: #252525 !important;
  border-bottom: none;
  color: #bbb !important;
}

/*Texte Titres*/
.card-jv-forum > .card-header {
  background-color: #303030;
  color: #ccc;
}

/*Texte général*/
.card-jv-forum,
.card-jv-forum .titre-info-fofo,
.card-jv-forum .bloc-info-forum .lien-jv,
.card-jv-forum .bloc-sous-forums .lien-jv,
.card-jv-forum .bloc-forums-preferes .lien-jv {
  color: #bbb;
  font-weight: 700;
}

/*Idem mais Hover & Focus*/
.card-jv-forum:hover,
.card-jv-forum:focus,
.card-jv-forum .titre-info-fofo-link:hover,
.card-jv-forum .titre-info-fofo-link:focus,
.card-jv-forum .bloc-info-forum .lien-jv:hover,
.card-jv-forum .bloc-info-forum .lien-jv:focus,
.card-jv-forum .bloc-sous-forums .lien-jv:hover,
.card-jv-forum .bloc-sous-forums .lien-jv:focus,
.card-jv-forum .bloc-forums-preferes .lien-jv:hover,
.card-jv-forum .bloc-forums-preferes .lien-jv:focus {
  color: #fff;
}

/*Message Privés*/
/*(Vrac de la 0.1, flemme de trier/nettoyer)*/

/*Messages Privés*/
/*Jarte du border-bottom sous le fil d'ariane*/
#mp .bloc-fil-ariane-crumb {
  border: none !important;
}
/*Avatar Expéditeur Propre*/
#expediteur .exp-img {
  background: none;
  border: none;
}
.exp-img img {
  height: 2.5rem;
  width: 2.5rem;
  max-height: 2.5rem;
  max-width: 2.5rem;
}
/*Texte Expéditeur Propre*/
#expediteur span {
  font-weight: 700;
}
#expediteur span > strong {
  font-weight: 700;
  color: #fff;
}
/*Bloc de gauche propre*/
#mp-menus {
  background: #303030;
  border: none;
  border-radius: 0.25rem;
  padding: 0;
}
#mp-menus,
#mp-menus .nouveau-msg a,
#mp-menus .nonlus a,
#mp-menus a,
#mp-menus .btn-only-open {
  color: #bbb;
}
#mp-menus .nonlus a:hover,
#mp-menus a:hover,
#mp-menus .btn-only-open:hover,
#mp-menus .dossier:hover,
#mp-menus .active,
#mp-menus .active a,
#mp-menus .btn-only-open.open {
  color: #fff;
  background: #303030;
}
#mp-menus .dossiers {
  border-top: 0px;
}
#mp-menus .nouveau-msg a {
  background: #252525;
  padding-left: 0.5rem;
}
#mp-menus .dossiers,
#mp-menus li {
  padding: 0px;
  padding-left: 0.25rem;
  margin: 0px;
}
#mp-menus .dossiers-perso {
  padding-bottom: 0.25rem;
  border-top: 1rem solid #1c1c1c;
  padding-top: 0px;
}
#mp-menus .list-header {
  background: #252525;
}
/*Couleur Titre*/
#discussion .titre-discut {
  background: #303030;
}
/*Couleurs en vrac*/
#destinataires .form-control-tag,
#destinataires #conv-dest-pseudo,
#nouveau-msg #conv_titre,
.alert-info,
.action-bar .btn,
.mp-pagination a,
#destinataires .btn-maj {
  border: none !important;
  background: #303030;
  color: #ddd;
  border-radius: 0.25rem;
}
.action-bar .btn[disabled],
.mp-pagination .nb-pages b {
  color: #ddd !important;
}
#mp-menus input,
#mp-menus .btn-valid-mp,
#mp-menus .btn-cancel-mp,
#destinataires .form-control-tag .label {
  border: none !important;
  background: #252525;
  color: #ddd;
  border-radius: 0.25rem;
}
.bloc-pict-dossier .select-dossier {
  background: #252525;
  border: none;
  border-radius: 0.5rem;
  padding-left: 0.2rem;
}
/*Liste des MP*/
.list-msg .row-head .date-msg,
.list-msg .row-head .exp-msg,
.list-msg .row-head .sujet-msg,
.list-msg .row-head .sup-msg {
  border: none;
  background: #353535;
}
.list-msg .row-mp.selected {
  background: #202020 !important;
}
.list-msg {
  padding: 0px;
  border-spacing: 0px;
  border: none !important;
  background: #252525;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25) !important;
}
/*Couleurs des topics*/
.list-msg .row-mp:nth-child(2n + 1) {
  background: #292929;
}
.bloc-message-forum .bloc-pseudo-msg,
.lien-jv,
body {
  color: #bbb;
}
.sujet-msg a:focus,
.sujet-msg a:hover,
.lu .sujet-msg a:hover {
  color: #fff;
}
.lu .sujet-msg a {
  color: #757575;
}
/*Carré à coté de la date*/
input[type="checkbox"],
input[type="radio"] {
  filter: invert(1);
  opacity: 0.3;
}
/*Destinataires*/
#destinataires {
  border-top: 0;
  border-bottom: 0;
}
/*MP Citation*/
blockquote {
  border-left: 0.15rem solid #404040 !important;
}
/*Form Harassment+Recaptcha*/
.form-post-topic .form-harassment {
  display: none;
}
/*Profil + Couleurs */

/*Profil + Contenu*/
/*Fix hauteur page de profil*/
#page-profil {
  margin-top: 3.3rem;
}

/*Fix largeur Derniers messages*/
div.row:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
  margin-left: 1rem;
  margin-right: 1rem;
}

/*Avatar profil plus propre*/
#header-profil .content-img-avatar {
  background: transparent;
  border-bottom: 0rem !important;
}

/*Avatar profil arrondi*/
#header-profil .content-img-avatar > div > img {
  border-radius: 0.5rem;
}

/*Pseudo banni*/
.alert-danger {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25) !important;
  background: #272727 !important;
  border-radius: 0.25rem;
  font-weight: 700;
  color: #ddd;
  border: 0;
}

/*Contenus profil en sombre + Arrondis */
.bloc-default-profil {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25) !important;
  background: #272727 !important;
  border-radius: 0.25rem;
}

/*Suppression des différentes lignes blanches*/
.bloc-default-profil .header,
.bloc-default-profil,
.bloc-default-profil .display-line-lib > li + li {
  border: none !important;
}

/*Texte infos en gras + couleur*/
.bloc-default-profil .display-line-lib .info-value,
.bloc-default-profil .profil-display-tab td.date-cell {
  color: #ddd;
  font-weight: 700;
}

/*Couleur fond 1/2Message "Derniers messages forum"*/
.bloc-default-profil table.profil-display-tab tr:nth-child(2n + 1) {
  background: #303030;
}

/*Jarte du petit triangle blanc*/
.bloc-default-profil::before {
  display: none;
}

/*Fix hauteur contenus profil*/
.bloc-default-profil .last-messages,
.bloc-default-profil {
  padding-bottom: 0.1rem;
}

/*Couleurs titre contenus profil*/
.bloc-default-profil .header h2,
.bloc-default-profil ul.display-list-simple li {
  color: #ccc;
  margin-left: 1rem;
}

/*"Aucune information" + "Rédiger un article"*/
.alert-warning,
.link-rediger-article {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25) !important;
  background: #303030 !important;
  border-radius: 0.25rem;
  border: none;
  color: #aaa;
}

/*Description*/

/*Couleur description*/
.bloc-default-profil .bloc-description-desc {
  color: #ccc;
  margin-bottom: -0.5rem;
}

/*Bordure plus discrète*/
.bloc-default-profil .bloc-description-desc ~ .bloc-signature-desc {
  border-top: 0.1rem solid #404040 !important;
}

/*Signature*/
.bloc-default-profil .bloc-signature-desc p {
  color: #64656d;
  font-weight: lighter;
  font-size: 0.875rem;
}

/*Texte "Signature dans les forums"*/
.bloc-default-profil .bloc-signature-desc > p {
  color: #ccc;
  font-weight: bold;
  font-size: 0.75rem;
}

/*Onglets*/

/*Onglets profil en blanc*/
.menu-profil .list-menu-profil .actif,
.menu-profil .list-menu-profil .lien-profil:hover {
  color: #fff;
}

/*Petite barre orange en blanc*/
.menu-profil .list-menu-profil .actif::before {
  background-color: #fff;
  height: 0.15rem;
  margin-bottom: 0.05rem;
}

/*Petite flèche retirée*/
.menu-profil .list-menu-profil .actif::after {
  display: none;
}

/*Barre onglets en sombre*/
.menu-profil {
  border-bottom: 0.15rem solid #404040;
}

/*Pictogrammes*/

/*Pictogrammes gris*/
.picto-crayon {
  filter: invert(1);
}

/*Pictogrammes blanc en :hover:*/
.picto-crayon:hover {
  filter: invert(1);
}

/*Abonnés*/

/*Suppression bordure au dessus des abonnés + Fix Hauteur*/
.group-fiche-abonne {
  border: 0px;
  margin-top: -4rem;
}

/*Background abonnés en sombre*/
.fiche-abonne {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25) !important;
  background: #272727 !important;
  border: none;
}

/*Pseudo abonnés en clair*/
.fiche-abonne .pseudo > a {
  color: #aaa;
  margin-top: 0.75rem;
  margin-left: 0.25rem;
}

/*Pseudos blanc en hover*/
.fiche-abonne .pseudo > a:hover {
  color: #fff;
}

/*Avatars abonnés arrondis*/
.fiche-abonne .tab-avatar img {
  border-radius: 0.25rem;
}

/*Suppression bordure avatar/pseudo*/
.fiche-abonne .tab-avatar {
  border: 0;
}

/*Pictogramme MP abonné en clair*/
.picto-contact-mp {
  filter: invert(1);
  opacity: 0.4;
}

/*Idem mais en hover*/
.picto-contact-mp:hover {
  opacity: 1;
}

/*Sanctions*/

/*Couleur Titre "historique des sanctions"*/
.titre-profil-general .titre-bloc {
  color: #bbb;
}

/*Barre sous le titre en sombre*/
.titre-profil-general {
  border-bottom: 0.15rem solid #404040;
}

/*Sanctions*/

/*Couleur Titre "historique des sanctions"*/
.titre-profil-general .titre-bloc {
  color: #bbb;
}

/*Barre sous le titre en sombre*/
.titre-profil-general {
  border-bottom: 0.15rem solid #404040;
}

/*Bordure sanctions plus discrète*/
.table-historique-sanction-profil tbody tr {
  border-bottom: 0.1rem solid #303030;
}

/*Texte en gras*/
.table-historique-sanction-profil td {
  font-weight: 700;
}

/*Abonnements*/

/*Menu dropdown "Tous les abonnements" en sombre*/
.form-control {
  border: none !important;
  background: #303030;
  color: #fff;
  border-radius: 0.25rem;
  padding-left: 0.5rem;
}

/*Bordure notifications*/
.list-item-pnotif li.item-notif-profil {
  border-top: 0.1rem solid #404040;
}
.list-item-pnotif li.item-notif-profil {
  border-bottom: 0;
}
.list-item-pnotif li.item-notif-profil:first-child {
  border: 0;
}

/*Rectangle orange en sombre*/
.list-item-pnotif .bloc-type-notif-forum .type-notif {
  background: #303030;
}

/*Titre en clair*/
.list-item-pnotif .titre-pnotif {
  color: #505050;
}

/*Titre blanc en hover*/
.list-item-pnotif .titre-pnotif:hover {
  color: #ccc;
}
/*Date en gras*/
.list-item-pnotif .temps-pnotif {
  font-weight: bold;
}

/*Bouton "Abonnements précédents"*/
.link-articles-precedents.notif-prec {
  background: #303030;
}

/*Flèche bouton "Abonnements précédents"*/
.link-articles-precedents.notif-prec::after {
  border-top: 0.625rem solid #393939;
}

/*Background titre "Gestion de vos abonnements"*/
.panel-jv-info {
  background: #303030;
}

/*Background contenu "Gestion de vos abonnements"*/
.panel-jv-info .panel-heading {
  background: #303030;
}

/*Séparation titre/contenu "Gestion de vos abonnements"*/
.panel-jv-info .panel-heading {
  border-bottom: 0.1rem solid #404040;
}

/*Jarte du doublon titre "Gestion de vos abonnements"*/
.panel .profil-gestion-abo .titre-gestion-abo {
  display: none;
}

/*Jarte du border-bottom liste des abonnements*/
.panel .profil-gestion-abo ul.liste-abonnement li {
  border: 0;
}

/*Jarte du background hover liste des abonnements*/
.panel .profil-gestion-abo ul.liste-abonnement li:hover {
  background-color: #303030;
}

/*Texte liste des abonnements hover + croix hover en blanc*/
.panel .profil-gestion-abo li a:hover,
.panel .profil-gestion-abo .bloc-action-abo button:hover {
  color: #fff;
}

/*Jarte de bordures inutiles*/
.panel .profil-gestion-abo,
.panel-jv-info {
  border: 0;
}

/*Partie "Modifier le pseudo" (Pictogramme Crayon)*/

/*Background général*/
.table-profil-modif-default {
  background: #252525;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

/*Bordure sous chaque titre plus discrète*/
.table-profil-modif-default thead tr {
  border-bottom: 0.01rem solid #303030;
}

/*Bordure sous chaque catégorie supprimée*/
.table-profil-modif-default {
  border: 0;
}

/*Bordure au dessus de chaque ligne plus discrète*/
.table-profil-modif-default tbody tr + tr {
  border-top: 0.01rem solid #303030;
}

/*Couleur titre de la catégorie*/
.table-profil-modif-default .titre-tab {
  color: #bbb;
}

/*Couleur texte des différentes lignes*/
.table-profil-modif-default .valeur {
  color: #bbb;
}

/*Couleur pseudo + Texte en gras*/
.bloc-alias > a:nth-child(2) {
  color: #bbb;
  font-weight: bold;
}

/*Couleur pseudo en hover*/
.bloc-alias > a:nth-child(2):hover {
  color: #fff;
}

/*Couleur des liens d'upload*/
.table-profil-modif-default .file-upload {
  color: #bbb;
}

/*Couleur des liens en hover*/
.table-profil-modif-default .file-upload:hover {
  color: #fff;
}

/*Couleur case de texte*/
.table-profil-modif-default .p-inline-block .valeur input {
  border: none !important;
  background: #202020;
  border-radius: 0.25rem;
  color: #aaa;
  filter: brightness(1.75);
}

/*"Mes machines"*/
.table-profil-modif-default .bloc-list-select select {
  border: none !important;
  background: #303030;
  color: #bbb;
  border-radius: 0.25rem;
}

/*Background mes machines*/
.table-profil-modif-default .bloc-list-select {
  background: transparent;
  border: 0;
}

/*Texte des topic favoris, DL infos personnelles et supp. Compte*/
a {
  color: #bbb;
}

/*Smileys (Merci DarkJVC)*/
img[data-code=":rire:"] {
  content: url(http://i.imgur.com/v6KMQzC.gif);
  background: url(http://i.imgur.com/v6KMQzC.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":rire2:"] {
  content: url(http://i.imgur.com/rSSAuat.gif);
  background: url(http://i.imgur.com/rSSAuat.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":sarcastic:"] {
  content: url(http://i.imgur.com/PcyGT0Y.gif);
  background: url(http://i.imgur.com/PcyGT0Y.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":("] {
  content: url(http://i.imgur.com/lKqWNtA.gif);
  background: url(http://i.imgur.com/lKqWNtA.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":hap:"] {
  content: url(http://i.imgur.com/r9QHx9t.gif);
  background: url(http://i.imgur.com/r9QHx9t.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":)"] {
  content: url(http://i.imgur.com/jFhsBfh.gif);
  background: url(http://i.imgur.com/jFhsBfh.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":banzai:"] {
  content: url(http://i.imgur.com/hrmEnVX.gif);
  background: url(http://i.imgur.com/hrmEnVX.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 49px !important;
  padding-top: 42px !important;
}
img[data-code=":bave:"] {
  content: url(http://i.imgur.com/p80tRSk.gif);
  background: url(http://i.imgur.com/p80tRSk.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":nonnon:"] {
  content: url(http://i.imgur.com/nz7TmYX.gif);
  background: url(http://i.imgur.com/nz7TmYX.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":ange:"] {
  content: url(http://i.imgur.com/GUa26X9.gif);
  background: url(http://i.imgur.com/GUa26X9.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 31px !important;
  padding-top: 24px !important;
}
img[data-code=":bravo:"] {
  content: url(http://i.imgur.com/DlTI2TV.gif);
  background: url(http://i.imgur.com/DlTI2TV.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 17px !important;
}
img[data-code=":clown:"] {
  content: url(http://i.imgur.com/UyCcXNx.gif);
  background: url(http://i.imgur.com/UyCcXNx.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":coeur:"] {
  content: url(http://i.imgur.com/T0d4hn7.gif);
  background: url(http://i.imgur.com/T0d4hn7.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 21px !important;
  padding-top: 20px !important;
}
img[data-code=":content:"] {
  content: url(http://i.imgur.com/mFdJbKi.gif);
  background: url(http://i.imgur.com/mFdJbKi.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":cool:"] {
  content: url(http://i.imgur.com/FuAX0M3.gif);
  background: url(http://i.imgur.com/FuAX0M3.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":ok:"] {
  content: url(http://i.imgur.com/sMhPab7.gif);
  background: url(http://i.imgur.com/sMhPab7.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 24px !important;
  padding-top: 16px !important;
}
img[data-code=":d)"] {
  content: url(http://i.imgur.com/BqLTQ3z.gif);
  background: url(http://i.imgur.com/BqLTQ3z.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":desole:"] {
  content: url(http://i.imgur.com/VIPEETl.gif);
  background: url(http://i.imgur.com/VIPEETl.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 47px !important;
  padding-top: 39px !important;
}
img[data-code=":diable:"] {
  content: url(http://i.imgur.com/AmqeiMs.gif);
  background: url(http://i.imgur.com/AmqeiMs.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 35px !important;
  padding-top: 20px !important;
}
img[data-code=":doute:"] {
  content: url(http://i.imgur.com/syvh5jA.gif);
  background: url(http://i.imgur.com/syvh5jA.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":fete:"] {
  content: url(http://i.imgur.com/IgvsRBE.gif);
  background: url(http://i.imgur.com/IgvsRBE.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 26px !important;
  padding-top: 21px !important;
}
img[data-code=":fier:"] {
  content: url(http://i.imgur.com/1B4kMhk.gif);
  background: url(http://i.imgur.com/1B4kMhk.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":fou:"] {
  content: url(http://i.imgur.com/kaP5Hgh.gif);
  background: url(http://i.imgur.com/kaP5Hgh.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":g)"] {
  content: url(http://i.imgur.com/O6FWdYX.gif);
  background: url(http://i.imgur.com/O6FWdYX.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":gne:"] {
  content: url(http://i.imgur.com/N582gar.gif);
  background: url(http://i.imgur.com/N582gar.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 65px !important;
  padding-top: 46px !important;
}
img[data-code=":gni:"] {
  content: url(http://i.imgur.com/6oOZr8Q.gif);
  background: url(http://i.imgur.com/6oOZr8Q.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 27px !important;
}
img[data-code=":honte:"] {
  content: url(http://i.imgur.com/QVvB4FV.gif);
  background: url(http://i.imgur.com/QVvB4FV.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":hs:"] {
  content: url(http://imgur.com/vJ8uWKs.gif);
  background: url(http://imgur.com/vJ8uWKs.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 51px !important;
  padding-top: 32px !important;
}
img[data-code=":hum:"] {
  content: url(http://i.imgur.com/4i4zCoA.gif);
  background: url(http://i.imgur.com/4i4zCoA.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":malade:"] {
  content: url(http://i.imgur.com/penLiBN.gif);
  background: url(http://i.imgur.com/penLiBN.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":merci:"] {
  content: url(http://i.imgur.com/DKhGwMk.gif);
  background: url(http://i.imgur.com/DKhGwMk.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 44px !important;
  padding-top: 40px !important;
}
img[data-code=":monoeil:"] {
  content: url(http://i.imgur.com/7DKxtiA.gif);
  background: url(http://i.imgur.com/7DKxtiA.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":mort:"] {
  content: url(http://i.imgur.com/yPYc0MD.gif);
  background: url(http://i.imgur.com/yPYc0MD.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":non:"] {
  content: url(http://i.imgur.com/R49yFTG.gif);
  background: url(http://i.imgur.com/R49yFTG.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":non2:"] {
  content: url(http://i.imgur.com/ORI16s9.gif);
  background: url(http://i.imgur.com/ORI16s9.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":ouch2:"] {
  content: url(http://i.imgur.com/TQ8eW8Q.gif);
  background: url(http://i.imgur.com/TQ8eW8Q.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":ouch:"] {
  content: url(http://i.imgur.com/nxlM3V1.gif);
  background: url(http://i.imgur.com/nxlM3V1.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":p)"] {
  content: url(http://i.imgur.com/qP9xtAx.gif);
  background: url(http://i.imgur.com/qP9xtAx.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":sournois:"] {
  content: url(http://i.imgur.com/ogpfiBz.gif);
  background: url(http://i.imgur.com/ogpfiBz.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":svp:"] {
  content: url(http://i.imgur.com/DbAEmn2.gif);
  background: url(http://i.imgur.com/DbAEmn2.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 50px !important;
  padding-top: 39px !important;
}
img[data-code=":-("] {
  content: url(http://i.imgur.com/NtNVpB2.gif);
  background: url(http://i.imgur.com/NtNVpB2.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":-)"] {
  content: url(http://i.imgur.com/rR7prs2.gif);
  background: url(http://i.imgur.com/rR7prs2.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":-D"] {
  content: url(http://i.imgur.com/4zZhbUr.gif);
  background: url(http://i.imgur.com/4zZhbUr.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":-p"] {
  content: url(http://i.imgur.com/mRt4NdC.gif);
  background: url(http://i.imgur.com/mRt4NdC.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":up:"] {
  content: url(http://i.imgur.com/nA3hXsy.gif);
  background: url(http://i.imgur.com/nA3hXsy.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 37px !important;
  padding-top: 42px !important;
}
img[data-code=":peur:"] {
  content: url(http://i.imgur.com/cfIHeMU.gif);
  background: url(http://i.imgur.com/cfIHeMU.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":question:"] {
  content: url(http://i.imgur.com/W1u3QHp.gif);
  background: url(http://i.imgur.com/W1u3QHp.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 26px !important;
  padding-top: 24px !important;
}
img[data-code=":sleep:"] {
  content: url(http://i.imgur.com/AbL8Xoz.gif);
  background: url(http://i.imgur.com/AbL8Xoz.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 23px !important;
  padding-top: 26px !important;
}
img[data-code=":snif2:"] {
  content: url(http://i.imgur.com/UsXawst.gif);
  background: url(http://i.imgur.com/UsXawst.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":snif:"] {
  content: url(http://i.imgur.com/kgnb3da.gif);
  background: url(http://i.imgur.com/kgnb3da.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":-)))"] {
  content: url(http://i.imgur.com/yO90Yog.gif);
  background: url(http://i.imgur.com/yO90Yog.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":oui:"] {
  content: url(http://i.imgur.com/ocI5udl.gif);
  background: url(http://i.imgur.com/ocI5udl.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":o))"] {
  content: url(http://i.imgur.com/JCScRFe.gif);
  background: url(http://i.imgur.com/JCScRFe.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":rechercher:"] {
  content: url(http://i.imgur.com/3wKJ6BD.gif);
  background: url(http://i.imgur.com/3wKJ6BD.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 50px !important;
  padding-top: 34px !important;
}
img[data-code=":cimer:"] {
  content: url(http://i.imgur.com/hNm7eXZ.gif);
  background: url(http://i.imgur.com/hNm7eXZ.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 57px !important;
  padding-top: 36px !important;
}
img[data-code=":siffle:"] {
  content: url(http://i.imgur.com/l0djjya.gif);
  background: url(http://i.imgur.com/l0djjya.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 22px !important;
  padding-top: 16px !important;
}
img[data-code=":-(("] {
  content: url(http://i.imgur.com/ppHidMq.gif);
  background: url(http://i.imgur.com/ppHidMq.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":nah:"] {
  content: url(http://i.imgur.com/dTu13VR.gif);
  background: url(http://i.imgur.com/dTu13VR.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":play:"] {
  content: url(http://i.imgur.com/ae38kcw.gif);
  background: url(http://i.imgur.com/ae38kcw.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 19px !important;
  padding-top: 28px !important;
}
img[data-code=":hello:"] {
  content: url(http://i.imgur.com/d96LY27.gif);
  background: url(http://i.imgur.com/d96LY27.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 45px !important;
  padding-top: 41px !important;
}
img[data-code=":lol:"] {
  content: url(http://imgur.com/WDwwlHo.gif);
  background: url(http://imgur.com/WDwwlHo.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 37px !important;
  padding-top: 44px !important;
}
img[data-code=":ddb:"] {
  content: url(http://i.imgur.com/MhaWAbd.gif);
  background: url(http://i.imgur.com/MhaWAbd.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 49px !important;
  padding-top: 40px !important;
}
img[data-code=":pacg:"] {
  content: url(http://i.imgur.com/LgFzn6f.gif);
  background: url(http://i.imgur.com/LgFzn6f.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":gba:"] {
  content: url(http://i.imgur.com/WhjzD79.gif);
  background: url(http://i.imgur.com/WhjzD79.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 12px !important;
}
img[data-code=":pacd:"] {
  content: url(http://i.imgur.com/h0kSrMh.gif);
  background: url(http://i.imgur.com/h0kSrMh.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":sors:"] {
  content: url(http://i.imgur.com/nDB3O88.gif);
  background: url(http://i.imgur.com/nDB3O88.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 50px !important;
  padding-top: 34px !important;
}
img[data-code=":dpdr:"] {
  content: url(http://i.imgur.com/6qfSj8p.gif);
  background: url(http://i.imgur.com/6qfSj8p.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 64px !important;
  padding-top: 44px !important;
}
img[data-code=":pave:"] {
  content: url(http://i.imgur.com/CNYwvZD.gif);
  background: url(http://i.imgur.com/CNYwvZD.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 51px !important;
  padding-top: 43px !important;
}
img[data-code=":cd:"] {
  content: url(http://i.imgur.com/XP3hOJf.gif);
  background: url(http://i.imgur.com/XP3hOJf.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":cute:"] {
  content: url(http://i.imgur.com/GN5YqK2.gif);
  background: url(http://i.imgur.com/GN5YqK2.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 17px !important;
}
img[data-code=":noel:"] {
  content: url(http://i.imgur.com/CmvtT97.gif);
  background: url(http://i.imgur.com/CmvtT97.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":rouge:"] {
  content: url(http://i.imgur.com/eyjYH6l.gif);
  background: url(http://i.imgur.com/eyjYH6l.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":spoiler:"] {
  content: url(http://i.imgur.com/BTyjQO1.gif);
  background: url(http://i.imgur.com/BTyjQO1.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 50px !important;
  padding-top: 34px !important;
}
img[data-code=":salut:"] {
  content: url(http://i.imgur.com/mAi2Aqf.gif);
  background: url(http://i.imgur.com/mAi2Aqf.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 46px !important;
  padding-top: 41px !important;
}
img[data-code=":bye:"] {
  content: url(http://i.imgur.com/O8sp37p.gif);
  background: url(http://i.imgur.com/O8sp37p.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 44px !important;
  padding-top: 42px !important;
}
img[data-code=":pf:"] {
  content: url(http://i.imgur.com/S2cLPS5.gif);
  background: url(http://i.imgur.com/S2cLPS5.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":objection:"] {
  content: url(http://i.imgur.com/mrLi4V9.gif);
  background: url(http://i.imgur.com/mrLi4V9.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 54px !important;
  padding-top: 34px !important;
}
img[data-code=":globe:"] {
  content: url(http://i.imgur.com/vSdhzjz.gif);
  background: url(http://i.imgur.com/vSdhzjz.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":mac:"] {
  content: url(http://i.imgur.com/Z1PynVF.gif);
  background: url(http://i.imgur.com/Z1PynVF.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 16px !important;
  padding-top: 16px !important;
}
img[data-code=":hapoelparty:"] {
  content: url(http://i.imgur.com/nE9l0JD.gif);
  background: url(http://i.imgur.com/nE9l0JD.gif);
  height: 0 !important;
  width: 0 !important;
  padding-left: 45px !important;
  padding-top: 27px !important;
}
